@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// returns a target / context value
@function remcalc($target,$context){
  @return ($target/$context)
}

// grabs the desired size (in px) and spits out a REM value
@mixin rem($selector,$target,$context:$root-font-size) {
  #{$selector} : ($target) + px;
  #{$selector} : remcalc($target,$context) + rem;
}

@mixin text_size($fontsize) {
  font-size: ($fontsize) + px;
  height: ($fontsize) + px;
  line-height: ($fontsize) + px;
}

@mixin message_box($color) {
  @extend %maar-box-prompt;
  color: $color;
  border: 2px solid $color;
  .box-message {
    a {
      color: $color;
      text-decoration: underline;
    }
  }
}
