
@font-face{font-family:"Vodafone Regular";src:url('../fonts/fonco_font_rg_eot.eot');src:url("../fonts/fonco_font_rg_eot.eot?#iefix") format("embedded-opentype"),url("../fonts/fonco_font_rg_woff.woff") format("woff"),url("../fonts/fonco_font_rg_ttf.ttf") format("truetype"),url("fonco_font_rg_svg.svg#VodafoneRgRegular") format("svg")}
@font-face{font-family:"Vodafone Light";src:url('fonco_font_lt_eot.eot');src:url("fonco_font_lt_eot.eot?#iefix") format("embedded-opentype"),url("fonco_font_lt_woff.woff") format("woff"),url("fonco_font_lt_ttf.ttf") format("truetype"),url("../fonts/fonco_font_lt_svg.svg#VodafoneLtRegular") format("svg")}
@font-face{font-family:"Vodafone Regular Bold";src:url('../fonts/fonco_font_rgbd_eot.eot');src:url("../fonts/fonco_font_rgbd_eot.eot?#iefix") format("embedded-opentype"),url("fonco_font_rgbd_woff.woff") format("woff"),url("fonco_font_rgbd_tff.ttf") format("truetype"),url("../fonts/fonco_font_rgbd_svg.svg#VodafoneRgBd") format("svg")}

@font-face {
    font-family: 'VodafonePTYRgRegular';
    src: url('../fonts/vodafoneptyrg_digital-webfont.eot');
    src: url('../fonts/vodafoneptyrg_digital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vodafoneptyrg_digital-webfont.woff') format('woff'),
    url('../fonts/vodafoneptyrg_digital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body { margin: 0; width: 100%; height: 100%; overflow: hidden; }

body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer {
    height: 100%;
    width: 100%;
}

.block {
    height: 1px;
    width: 100%;
}

.navbar-inverse {
    background-color: rgb(248, 0, 0);
}

.navbar-header {
    width: 100%;
    overflow: hidden;
}

div.navbar {
    margin-bottom: 0px;
    min-height: 0;
    border: 0px;
}

.navbar-toggle {
    padding: 0px 5px;
    margin-right: 0px;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #F4F4F4;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.panel {
    margin-bottom: 0px;
}

.templates {
    padding-bottom: 3px;
}

.template {
    border-top: 1px solid #eaeaea;
}

.fkey {
    display: inline-block;
    width: 27px;
    font-size: 12px;
    color: #525252;
    text-align: center;
    height: 18px;
    margin-right: -6px;
}

.abbrev {
    display: inline-block;
    width: 168px;
    max-width: 168px;
    font-size: 12px;
    padding: 0 3px 0 3px;
    color: #525252;
    cursor: pointer;
    height: 18px;
}

.highlighted {
    background: #eaeaea;
}

.col-xs-6 {
    min-width: 200px;
    padding: 0 0 0 0;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn-vodafone-strong {
    color: #fff;
    background-color: #3D3D3D;
    -moz-box-shadow:    0px 2px 3px 1px #000;
    -webkit-box-shadow: 0px 2px 3px 1px #000;
    box-shadow:         0px 2px 3px 1px #000;
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: normal;
}

.btn-vodafone-strong:hover {
    background-color: #000000;
    color: #fff;
}

.btn-vodafone-strong:active {
    -moz-box-shadow:    inset 0px 2px 3px 1px #000;
    -webkit-box-shadow: inset 0px 2px 3px 1px #000;
    box-shadow:         inset 0px 2px 3px 1px #000;
    background-color: #3D3D3D;
    color: #fff;
}

.btn-vodafone-secondary {
    color: #333333;
    background-color: #ffffff;
    -moz-box-shadow:    0px 2px 3px 1px #000;
    -webkit-box-shadow: 0px 2px 3px 1px #000;
    box-shadow:         0px 2px 3px 1px #000;
    font-family: 'Vodafone Regular', Arial Bold, sans-serif;
    border-radius: 3px;
}

.btn-vodafone-secondary:hover {
    color: #333333;
    background-color: #F4F4F4;
}


.form-control:focus {
    border-color: #E9667B;
    outline: 0;
}

.panel-primary {
    border-color: #d3d3d3;
}

label {
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: black; /*#666;*/
}

.actionbtns .tab-btn {
    cursor: pointer;
    text-align: center;
    line-height: normal;
    font-size: 18px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    color: #FFFFFF;
    display: inline-block;
    padding: 11px 0;
    border-left: 1px solid #616161;
    border-right: 1px solid #000000;
    font-family: VodafonePTYRgRegular,"Trebuchet MS",sans-serif;
    font-weight: normal;
    background: -moz-linear-gradient(top, #4f4f4f, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(#000));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#000000');
    position: relative;
    z-index: 1000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.actionbtns .tab-btn:hover, .actionbtns #copybtn.zeroclipboard-is-hover {
    background: #3f3f3f;
}

.actionbtns .tab-btn:active, .actionbtns #copybtn.zeroclipboard-is-active {
    color: black;
    font-weight: 900;
    background: -moz-linear-gradient(top, #f0f0f0, #ffffff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff');
}

.templateChoicesPanel {
    height: auto;
}

.glyphicon-question-sign {
    color: white;
    margin-left: 10px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.vodafonelogo {
    margin: 6px 6px;
}

.menu {
    overflow: hidden;
    width: 150px;
    height: 32px;
    padding-top: 11px;
    padding-left: 3px;
    cursor: pointer;
}

.menu label {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-top: 0px;
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: normal;
    padding-left: 5px;
    width: 1000px;
    cursor: pointer;
}

.menu.on {
    background: #BD0000;
}

.menu.go:hover, .menu:active {
    background: white;
}

.menu.go:hover label, .menu:active label {
    color: #333;
}

.skill-switcher {
    background: white;
}

.skill-switcher .skill {
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 32px;
    padding-top: 11px;
}

.skill-left {
    float: left;
    margin-top: 4px;
    width: 50%;
    margin-right: -50%;
    position: relative;
    z-index: 10;
}

.skill-right {
    float: right;
    margin-top: 4px;
    width: 50%;
    margin-left: -50%;
    position: relative;
    z-index: 10;
}

.skill-right .navarrow.right {
    float: right;
}

.navarrow {
    background: url(../img/vha_vca_short_arrows.png);
width:17px;
height:37px;
background-repeat: no-repeat;
margin-top: -1px;
    }

.navarrow.left {
    background-position: 0px 0px;
    margin-left: -1px;
}

.navarrow.left:hover, .skill-left:hover .navarrow.left {
    background-position:0 -37px;
}

.navarrow.left:active, .skill-left:active .navarrow.left {
    background-position: -0px -75px;
}

.navarrow.right {
    background-position: -18px 0px;
    margin-right: -1px;
}

.navarrow.right:hover, .skill-right:hover .navarrow.right {
    background-position: -18px -37px;
}

.navarrow.right:active, .skill-right:active .navarrow.right {
    background-position: -18px -75px;
}



.popover {
    left: 0px!important;
    font-size: 12px;
    max-width: 100%;
}

.popover.bottom>.arrow {
    left: 55px;
}

.popover-content {
    padding: 10px;
    background: #eee;
}

.function {
    width: 50%;
    float: left;
}

.function.active div {
    font-weight: bold;
}

.vha-vca-cbtn-red {
    text-transform: uppercase;
    margin: 3px;
    cursor: pointer;
    height: 20px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: white;
    padding-top: 3px;
    border-radius: 3px;
    background-color: #df0000;
    /*background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(-0.26, #cb2026), color-stop(1.1, #e01e26));
    background-image: -webkit-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
    background-image: -moz-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
    background-image: -o-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
    background-image: linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);*/
    -moz-box-shadow: 0 1px 0 #950d00;
    -webkit-box-shadow: 0 1px 0 #950d00;
    box-shadow: 0 1px 0 #950d00;
}
.vha-vca-cbtn-red:hover, .function.active .vha-vca-cbtn-red {
    background-color: #c80404;
    background-image: -moz-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
    background-image: -o-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
    background-image: -webkit-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
    background-image: linear-gradient(bottom, #b1181d -26%, #c80404 110%);
}
.vha-vca-cbtn-red:active {
    -moz-box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, .90);
    -webkit-box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, .90);
    box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, .90);
    background: -moz-linear-gradient(center top, #C9151B, #A11115) repeat scroll 0 0 transparent;
}

.emails {
    padding: 0px 3px 3px 3px;
}

.emails select {
    width: 100%;
}

.emails label {
    font-size: 12px;
}

.tooltip {
    position:absolute;
    z-index:1030;
    display:block;
    visibility:visible;
    font-size:12px;
    line-height:1.4;
    opacity:0;
    filter:alpha(opacity=0);
}

.tooltip.in {
    opacity:.9;
    filter:alpha(opacity=90);
}

.tooltip.top {
    margin-top:-3px;
    padding:5px 0;
}

.tooltip.right {
    margin-left:3px;
    padding:0 5px;
}

.tooltip.bottom {
    margin-top:3px;
    padding:5px 0;
}

.tooltip.left {
    margin-left:-3px;
    padding:0 5px;
}

.tooltip-inner {
    max-width:200px;
    color:#fff;
    text-align:center;
    text-decoration:none;
    background-color:#000;
    border-radius:4px;
    padding:3px 8px;
}

.tooltip-arrow {
    position:absolute;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
}

.tooltip.top .tooltip-arrow {
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-top-color:#000;
    border-width:5px 5px 0;
}

.tooltip.top-left .tooltip-arrow {
    bottom:0;
    left:5px;
    border-top-color:#000;
    border-width:5px 5px 0;
}

.tooltip.top-right .tooltip-arrow {
    bottom:0;
    right:5px;
    border-top-color:#000;
    border-width:5px 5px 0;
}

.tooltip.right .tooltip-arrow {
    top:50%;
    left:0;
    margin-top:-5px;
    border-right-color:#000;
    border-width:5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
    top:50%;
    right:0;
    margin-top:-5px;
    border-left-color:#000;
    border-width:5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
    top:0;
    left:50%;
    margin-left:-5px;
    border-bottom-color:#000;
    border-width:0 5px 5px;
}

.tooltip.bottom-left .tooltip-arrow {
    top:0;
    left:5px;
    border-bottom-color:#000;
    border-width:0 5px 5px;
}

.tooltip.bottom-right .tooltip-arrow {
    top:0;
    right:5px;
    border-bottom-color:#000;
    border-width:0 5px 5px;
}

.popover {
    position:absolute;
    top:0;
    left:0;
    z-index:1010;
    display:none;
    max-width:276px;
    text-align:left;
    background-color:#fff;
    background-clip:padding-box;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    white-space:normal;
    padding:1px;
}

.popover.top {
    margin-top:-10px;
}

.popover.bottom {
    margin-top:10px;
}

.popover.left {
    margin-left:-10px;
}

.popover-title {
    font-size:14px;
    font-weight:400;
    line-height:18px;
    background-color:#f7f7f7;
    border-bottom:1px solid #ebebeb;
    border-radius:5px 5px 0 0;
    margin:0;
    padding:8px 14px;
}

.popover-content {
    padding:9px 14px;
}

.popover .arrow,.popover .arrow:after {
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
}

.popover .arrow {
    border-width:11px;
}

.popover .arrow:after {
    content:"";
    border-width:10px;
}

.popover.top .arrow {
    left:50%;
    margin-left:-11px;
    border-bottom-width:0;
    border-top-color:rgba(0,0,0,.25);
    bottom:-11px;
}

.popover.top .arrow:after {
    content:" ";
    bottom:1px;
    margin-left:-10px;
    border-bottom-width:0;
    border-top-color:#fff;
}

.popover.right .arrow {
    top:50%;
    left:-11px;
    margin-top:-11px;
    border-left-width:0;
    border-right-color:rgba(0,0,0,.25);
}

.popover.right .arrow:after {
    content:" ";
    left:1px;
    bottom:-10px;
    border-left-width:0;
    border-right-color:#fff;
}

.popover.bottom .arrow {
    left:50%;
    margin-left:-11px;
    border-top-width:0;
    border-bottom-color:rgba(0,0,0,.25);
    top:-11px;
}

.popover.bottom .arrow:after {
    content:" ";
    top:1px;
    margin-left:-10px;
    border-top-width:0;
    border-bottom-color:#fff;
}

.popover.left .arrow {
    top:50%;
    right:-11px;
    margin-top:-11px;
    border-right-width:0;
    border-left-color:rgba(0,0,0,.25);
}

.popover.left .arrow:after {
    content:" ";
    right:1px;
    border-right-width:0;
    border-left-color:#fff;
    bottom:-10px;
}

.fade {
    opacity:0;
    -webkit-transition:opacity .15s linear;
    transition:opacity .15s linear;
}

.fade.in {
    opacity:1;
}

input[type='text'] {
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.msgStatus {
    clear: both;
    margin: 0px;
}

.msgError {
    color: red;
    margin: 5px;
}

.msgSuccess {
    color: green;
    margin: 5px;
}

.no-boxshadow .expand {
    border: 1px solid #E9667B;
}
.boxshadow .expand {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #E9667B;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #E9667B;
}

.bodytxt {
    background-color: #fff;
    border-top: solid 1px #d3d3d3;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 11px;
    border: 0px;
    overflow-x: hidden;
}

.globe {
    height: 42px;
    width: 45px;
    display: inline-block;
    border-right: 1px solid #df0000;
    float: left;
}

.emailSections {
    overflow-x: hidden;
}

.ie_emailSections {
    overflow-x: scroll;
}
pre {
    overflow: hidden;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-family: Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    border: 0px;
    background-color: #fff;
    color: black;
    padding: 2px;
    margin: 0em;
    display: inline-block;
}

.hiddenEmailForm {
    display: none;
}

#hiddenfileBlob input[type='file'] {
    width: 100%;
}

.blockUI.blockMsg.blockPage {
    width: 50%!important;
}