.menu_submenu, .menu_submenu:hover , .dropdown:hover .menu_submenu {
    -moz-column-count: 3;
    -moz-column-gap: 25px;
    -ms-column-count: 3;
    -ms-column-gap: 25px;
    -webkit-column-count: 3;
    -webkit-column-gap: 25px;
    column-count: 3;
    column-gap: 25px;
}