@font-face {
  font-family: "Vodafone Regular";
  src: url("fonts/fonco_font_rg_eot.eot");
  src: url("fonts/fonco_font_rg_eot.eot?#iefix") format("embedded-opentype"), url("fonts/fonco_font_rg_woff.woff") format("woff"), url("fonts/fonco_font_rg_ttf.ttf") format("truetype"), url("fonco_font_rg_svg.svg#VodafoneRgRegular") format("svg"); }
@font-face {
  font-family: "Vodafone Light";
  src: url("fonco_font_lt_eot.eot");
  src: url("fonco_font_lt_eot.eot?#iefix") format("embedded-opentype"), url("fonco_font_lt_woff.woff") format("woff"), url("fonco_font_lt_ttf.ttf") format("truetype"), url("fonts/fonco_font_lt_svg.svg#VodafoneLtRegular") format("svg"); }
@font-face {
  font-family: "Vodafone Regular Bold";
  src: url("fonts/fonco_font_rgbd_eot.eot");
  src: url("fonts/fonco_font_rgbd_eot.eot?#iefix") format("embedded-opentype"), url("fonco_font_rgbd_woff.woff") format("woff"), url("fonco_font_rgbd_tff.ttf") format("truetype"), url("fonts/fonco_font_rgbd_svg.svg#VodafoneRgBd") format("svg"); }
@font-face {
  font-family: 'VodafonePTYRgRegular';
  src: url("https://www.vodafone.com.au/cs/static/fonts/vodafoneptyrg_digital-webfont.eot");
  src: url("https://www.vodafone.com.au/cs/static/fonts/vodafoneptyrg_digital-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.vodafone.com.au/cs/static/fonts/vodafoneptyrg_digital-webfont.woff") format("woff"), url("https://www.vodafone.com.au/cs/static/fonts/vodafoneptyrg_digital-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

section {
  display: table;
  height: 100%;
  width: 100%; }

header, footer {
  display: table-row;
  height: 1px; }

main {
  display: table-row;
  height: auto; }

main .expand {
  display: table-cell;
  height: 100%; }

main textarea {
  height: 100%;
  width: 100%; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.outer {
  display: table;
  height: 100%;
  width: 100%; }

.block {
  display: table-row;
  height: 1px;
  width: 100%; }

.navbar-inverse {
  background-color: #f80000; }

.navbar-header {
  width: 100%;
  overflow: hidden; }

div.navbar {
  margin-bottom: 0px;
  min-height: 0;
  border: 0px; }

.navbar-toggle {
  padding: 0px 5px;
  margin-right: 0px; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: #f4f4f4; }

.navbar-inverse .navbar-toggle {
  border-color: #fff; }

.panel {
  margin-bottom: 0px; }

.templates {
  padding-bottom: 3px; }

.template {
  border-top: 1px solid #eaeaea; }

.fkey {
  display: inline-block;
  width: 27px;
  font-size: 12px;
  color: #525252;
  text-align: center;
  height: 18px;
  margin-right: -6px; }

.abbrev {
  display: inline-block;
  width: 168px;
  max-width: 168px;
  font-size: 12px;
  padding: 0 3px 0 3px;
  color: #525252;
  cursor: pointer;
  height: 18px; }

.highlighted {
  background: #eaeaea; }

.col-xs-6 {
  min-width: 200px;
  padding: 0 0 0 0; }

.btn:hover, .btn:focus {
  color: #fff; }

.btn-vodafone-strong {
  color: white;
  background-color: #3d3d3d;
  padding: 11px 0;
  -moz-box-shadow: 0px 2px 3px 1px #000;
  -webkit-box-shadow: 0px 2px 3px 1px #000;
  box-shadow: 0px 2px 3px 1px #000;
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: normal; }
  .btn-vodafone-strong:hover {
    background-color: #000000;
    color: #fff; }
  .btn-vodafone-strong:active {
    -moz-box-shadow: inset 0px 2px 3px 1px #000;
    -webkit-box-shadow: inset 0px 2px 3px 1px #000;
    box-shadow: inset 0px 2px 3px 1px #000; }

.btn-vodafone-secondary {
  color: #333333;
  background-color: #ffffff;
  -moz-box-shadow: 0px 2px 3px 1px #000;
  -webkit-box-shadow: 0px 2px 3px 1px #000;
  box-shadow: 0px 2px 3px 1px #000;
  font-family: 'Vodafone Regular', Arial Bold, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .btn-vodafone-secondary:hover {
    color: #333333;
    background-color: #f4f4f4; }

.form-control:focus {
  border-color: #E9667B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e9667b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e9667b; }

.panel-primary {
  border-color: #d3d3d3; }

label {
  font-family: arial, helvetica, clean, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: black;
  /*#666;*/ }

.bodytxt {
  background-color: #fff;
  border-top: solid 1px #d3d3d3;
  font-family: Arial, sans-serif;
  color: black; }

.actionbtns {
  height: 41px; }

#sassarithmetic {
  font: 10px/8px;
  width: 500px;
  width: 1;
  height: 250px;
  margin-left: 9px; }

.actionbtns {
  height: 41px; }
  .actionbtns .tab-btn {
    cursor: pointer;
    text-align: center;
    line-height: normal;
    font-size: 18px;
    width: 50%;
    box-sizing: border-box;
    float: left;
    color: #FFFFFF;
    display: inline-block;
    padding: 11px 0;
    border-left: 1px solid #616161;
    border-right: 1px solid #000000;
    font-family: VodafonePTYRgRegular,"Trebuchet MS",sans-serif;
    font-weight: normal;
    background: -moz-linear-gradient(top, #4f4f4f, black);
    background: -webkit-gradient(linear, left top, left bottom, from(#4f4f4f), to(black));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4f4f4f', endColorstr='#000000');
    position: relative;
    z-index: 1000;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box; }
    .actionbtns .tab-btn:hover {
      background: #3f3f3f; }
    .actionbtns .tab-btn #copybtn.zeroclipboard-is-hover {
      background: #3f3f3f; }

.actionbtns .tab-btn:active, .actionbtns #copybtn.zeroclipboard-is-active {
  color: black;
  font-weight: 900;
  background: -moz-linear-gradient(top, #f0f0f0, white);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(white));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#ffffff'); }

.templateChoicesPanel {
  height: auto; }

.glyphicon-question-sign {
  color: white;
  margin-left: 10px; }

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

.vodafonelogo {
  margin: 6px 6px; }

.globe {
  height: 42px;
  width: 45px;
  display: inline-block;
  border-right: 1px solid #df0000;
  float: left; }

.menu {
  overflow: hidden;
  width: 151px;
  height: 32px;
  padding-top: 11px;
  padding-left: 3px;
  cursor: pointer; }
  .menu label {
    color: white;
    font-size: 16px;
    text-decoration: none;
    margin-top: 0px;
    font-family: arial, helvetica, clean, sans-serif;
    font-weight: normal;
    padding-left: 5px;
    width: 1000px;
    cursor: pointer; }

.menu.on {
  background: #bd0000; }

.menu.go:hover, .menu:active {
  background: white; }

.menu.go:hover label, .menu:active label {
  color: #333; }

.skill-switcher {
  background: white; }

.skill-switcher .skill {
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 32px;
  padding-top: 11px; }

.skill-left {
  float: left;
  margin-top: -4px;
  width: 50%;
  margin-right: -50%;
  position: relative;
  z-index: 10; }

.skill-right {
  float: right;
  margin-top: -4px;
  width: 50%;
  margin-left: -50%;
  position: relative;
  z-index: 10; }

.skill-right .navarrow.right {
  float: right; }

.navarrow {
  background: url(https://www.vodafone.com.au/cs/static/img/vha_vca_short_arrows.png);
  width: 24px;
  height: 52px;
  background-repeat: no-repeat;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  margin-top: -1px; }

.navarrow.left {
  background-position: 0px 0px;
  margin-left: -1px; }

.navarrow.left:hover, .skill-left:hover .navarrow.left {
  background-position: 0 -53px; }

.navarrow.left:active, .skill-left:active .navarrow.left {
  background-position: -0px -107px; }

.navarrow.right {
  background-position: -26px 0px;
  margin-right: -1px; }

.navarrow.right:hover, .skill-right:hover .navarrow.right {
  background-position: -26px -53px; }

.navarrow.right:active, .skill-right:active .navarrow.right {
  background-position: -26px -107px; }

.popover {
  left: 0px !important;
  font-size: 12px;
  max-width: 100%; }

.popover.bottom > .arrow {
  left: 55px; }

.popover-content {
  padding: 10px; }

.function {
  width: 50%;
  float: left; }

.function.active div {
  font-weight: bold; }

.vha-vca-cbtn-red {
  text-transform: uppercase;
  margin: 3px;
  cursor: pointer;
  height: 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  color: white;
  padding-top: 3px;
  border-radius: 3px;
  background-color: #df0000;
  /*background-image: -webkit-gradient(linear, 0 100%, 0 0, color-stop(-0.26, #cb2026), color-stop(1.1, #e01e26));
  background-image: -webkit-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
  background-image: -moz-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
  background-image: -o-linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);
  background-image: linear-gradient(bottom, #cb2026 -26%, #e01e26 110%);*/
  -moz-box-shadow: 0 1px 0 #950d00;
  -webkit-box-shadow: 0 1px 0 #950d00;
  box-shadow: 0 1px 0 #950d00; }

.vha-vca-cbtn-red:hover, .function.active .vha-vca-cbtn-red {
  background-color: #c80404;
  background-image: -moz-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
  background-image: -o-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
  background-image: -webkit-linear-gradient(bottom, #b1181d -26%, #c80404 110%);
  background-image: linear-gradient(bottom, #b1181d -26%, #c80404 110%); }

.vha-vca-cbtn-red:active {
  -moz-box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, 0.9);
  -webkit-box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, 0.9);
  box-shadow: 0 1px 0 #950d00, inset 0 2px 6px rgba(129, 12, 13, 0.9);
  background: -moz-linear-gradient(center top, #c9151b, #a11115) repeat scroll 0 0 transparent; }

.emails {
  padding: 0px 3px 3px 3px; }

.emails select {
  width: 100%; }

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: .9;
  filter: alpha(opacity=90); }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  padding: 3px 8px; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #000;
  border-width: 5px 5px 0; }

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-top-color: #000;
  border-width: 5px 5px 0; }

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-top-color: #000;
  border-width: 5px 5px 0; }

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: #000;
  border-width: 5px 5px 5px 0; }

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: #000;
  border-width: 5px 0 5px 5px; }

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px; }

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px; }

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-bottom-color: #000;
  border-width: 0 5px 5px; }

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
  padding: 1px; }

.popover.top {
  margin-top: -10px; }

.popover.bottom {
  margin-top: 10px; }

.popover.left {
  margin-left: -10px; }

.popover-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
  margin: 0;
  padding: 8px 14px; }

.popover-content {
  padding: 9px 14px; }

.popover .arrow, .popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover .arrow {
  border-width: 11px; }

.popover .arrow:after {
  content: "";
  border-width: 10px; }

.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px; }

.popover.top .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff; }

.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: rgba(0, 0, 0, 0.25); }

.popover.right .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff; }

.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px; }

.popover.bottom .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff; }

.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: rgba(0, 0, 0, 0.25); }

.popover.left .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px; }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
  opacity: 1; }

input[type='text'] {
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

.bodytxt {
  border: 0px; }

.bodyHtml {
  border-color: #E9667B;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e9667b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #e9667b; }

.msgStatus {
  clear: both;
  margin: 0px; }

.msgShow, .msgError, .msgSuccess {
  margin: 5px; }

.msgError {
  color: red; }

.msgSuccess {
  color: green; }

pre {
  border: 0px;
  background-color: #fff;
  border-top: solid 1px #d3d3d3;
  font-family: Arial, sans-serif;
  color: black;
  height: 100%;
  width: 100%;
  -webkit-appearance: textarea;
  background-color: white;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0em;
  font: -webkit-small-control;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-writing-mode: horizontal-tb; }

.calcwrapper {
  position: absolute; }

.calculatorPopup {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 700px;
  display: none;
  background: #FFF;
  border: solid 1px #BBBBBB;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #999; }
